*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container, .nav-container {
  width: 1000px;
  margin: 2% auto;
}

.group1,
.group2,
.group3,
.group4,
.group5 {
  display: flex;
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
}

h2 {
  margin-bottom: 50px;
}

button {
  width: 125px;
  height: 100px;
  border: 2px solid #d1d1d1;
  background-color: orange;
}

.result {
  background-color: #858693;
  height: 100px;
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-align: right;
  padding-right: 1%;
  padding-top: 3.5%;
}

.zero {
  width: 250px;
}

.calculator-link,
.home-link {
  border-right: 2px solid black;
}

.calculator-link,
.home-link,
.quote-link {
  padding: 10px;
}

.calculator-container {
  display: flex;
  justify-content: space-between;
}

.calculator {
  width: 500px;
}
