body {
  background-color: rgb(158, 172, 172);
}

.container {
  width: 26%;
  margin: 5% auto;
}

.group1,
.group2,
.group3,
.group4,
.group5 {
  display: flex;
  margin-top: 2px;
}

button {
  position: relative;
  width: 25px;
  padding: 25px;
}

button span {
  position: absolute;
  color: blue;
  top: 15px;
  left: 20px;
}

.result {
  border: 2px solid blue;
  padding: 10px;
}

h1 {
  text-align: center;
  color: blue;
  font-weight: 400;
}
